<h2> Child Component </h2>
<div>
    <button (click)="userLoggedIn=true">Login</button>
    <button (click)="userLoggedIn=false">Logout</button>
    {{ userLoggedIn }}
</div>
<app-one [loggedIn]="userLoggedIn" [logged_In]="userLoggedIn"></app-one>
<hr>
<app-two #child [loggedIn]="userLoggedIn"></app-two>
{{ child.name }}
<button (click)="child.greetTinnakorn()">Two Component Active</button>
<hr>

<app-three #three [loggedIn]="userLoggedIn"></app-three>
{{ three.name }}
<hr>

<app-four (greetEvent)="greet($event)"></app-four>

<hr>
<button (click)="greetStudent()"> Greet Student </button>
<button (click)="appreciateStudent()"> Appreciate Student </button>
<app-student></app-student>